@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Quantico&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../img/Background.jpg");
    background-size: cover;
    background-position: center;
}

main {
    padding: 50px;
    background-color: #111;
}

.event_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo img {
    height: 80%;
    margin-left: 3rem;
}

nav {
    margin-right: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul li {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 15px;
    font-size: 10px;
    text-shadow: 0px 5px 7px #4cbdda;
    transition: color 0.3 ease;
}

nav::beforheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url("../img/Background.jpg");
    background-size: cover;
    background-position: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}



body {
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #111;
}

.event_list {
    max-width: 1200px;
    margin: 0px auto 0 50px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img_card {
    width: 200px;
    display: block;
    object-fit: cover;
    border-right: solid 3px;
    border-color: #111;
}

.event_card {
    display: flex;
    width: 600px;
    border-radius: 25px;
    overflow: hidden;
    border: solid 3px;
    border-color: #fff;
    box-shadow: 0 16px 20px #4cbdda;
    transform: translateY(-15px);
}

.card_secc {
    padding: 20px;
    display: flex;
    background-color: #fff;
}

.card_title {
    font-size: 20px;
    font-family: 'Audiowide', cursive;
    
}

.card_info {
    padding: 15px;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_info p {
    width: 200px;
    max-height: auto;
    display: flex;
    letter-spacing: 1.5px;
    color: #111;
    font-family: 'Quantico', sans-serif;
}

.card_days {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.card_size-btn {
    padding: 20px;
    width: 5px;
    height: 5px;
    border-radius: 25px;
    font-size: 12px;
    color: black;
    font-weight: bold;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    border-color: 0.3s;
}

.card_size-btn:hover {
    color: #00b4d1;
    border-color: #00b4d1;
}

.card_size-btn:focus {
    color: #00b4d1;
    border-color: #00b4d1;
}

.card_buy_f {
    padding-top: 15px;
}

.card_buy {
    padding: 7px 15px;
    border: 3px solid #000;
    color: #000;
    font-weight: bold;
    display: block;
    width: max-content;
    transition: color 0.3s;
    border-color: 0.3s;
}

.card_buy:hover {
    color: #32943b;
    border-color: #32943b;
}



.footer {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("../img/Background.jpg");
    background-size: cover;
    background-position: center;
}

.footer .uss {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 500px;
    font-family: 'Quantico', sans-serif;
}

.footer .showi {
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500px;
}

.border_top {
    border-top: #ddd solid 1px;
} 

ul.loca {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul.loca li {
    color: #fcfbfb;
    padding: 0px 30px;
    font-size: 18px;
    font-family: 'Quantico', sans-serif;
    list-style: none;
}

ul.loca li a {
    padding-right: 16px;
    color: #fcfbfb;
    margin-top: 4px;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
}

ul.social li {
    margin: 0 10px;
}

ul.social li a  {
    font-size: 24px;
    color: #161616;
    background: #4cbdda;
    border-radius: 80px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 41px;
    justify-content: center;
    text-decoration: none;
}

ul.social li a:hover {
    color: #fff;
}

.copyright {
    padding: 23px 0px;
    margin-top: 20px;
    border-top: #ddd solid 1px;
}

.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}



@media screen and (max-width: 767px) {
    .logo img {
        height: 60%;
        margin-left: 1rem;
    }
    
    header label i {
        line-height: 80px;
        color: #fff;
        font-size: 35px;
        margin-left: 120px;
        cursor: pointer;
        display: none;
    }

    header .menue {
        height: 0;
        width: -250px;
        top: 85px;
        position: absolute;
        background-color: rgb(33, 84, 117);
        text-align: center;
        cursor: pointer;
        display: none;
        transition: all .4s;
        z-index: 1;
    }

    header .menue li {
        margin: 35px 0;
        transition: all .4s;
    }

    #check:checked ~ nav .menue {
        height: 60vh;
        right: 0px;
        width: 300px;
        display: block;
    }

    .mbars {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
    }
}

@media screen and (min-width: 768px) {
    #check {
        display: none;
    }

    header label {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #check {
        display: none;
    }

    header label {
        display: none;
    }
}




@media (max-width: 768px) {
    .event {
        margin: 50px auto 0;
        flex-direction: column;
        align-items: center;
    }

    .event_card {
        width: 100%;
    }

    .img_card {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-right: none;
        border-bottom: solid 3px;
        border-color: #111;
    }

    .card_info {
        padding: 15px;
        max-width: none;
        margin-top: 15px;
    }

    .card_size-btn {
        padding: 10px;
        width: 5px;
        height: 5px;
        font-size: 10px;
    }
}

/* aside {
    float: right;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 30%;
    height: 100px;
    background-color: darkgray;
}

.aside .h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 50px;
    font-weight: 100;
} */

/* @media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
} */