header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/img/Background.jpg");
    background-size: cover;
    background-position: center;
}

main {
    padding: 50px;
}

.event_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo img {
    height: 80%;
    margin-left: 3rem;
}

nav {
    margin-right: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul li {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 15px;
    font-size: 10px;
    text-shadow: 0px 5px 7px #4cbdda;
    transition: color 0.3 ease;
}

nav::beforheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}




body {
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.event {
    width: 1200px;
    margin-top: 100px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.img_card {
    width: 125px;
    /* height: 700px; */
    display: block;
    object-fit: cover;
}

.event_card {
    display: flex;
    width: 600px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 16px 20px #4cbdda;
    transform: translateY(-15px);
}

.card_secc {
    padding: 20px;
    display: flex;
}

.card_title {
    font-size: 20px;
}

.card_info {
    padding: 15px;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_info p {
    width: 200px;
}