@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Quantico&display=swap');

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("../img/Background.jpg");
    background-size: cover;
    background-position: center;
}

.logo img {
    height: 100%;
    margin-left: 3rem;
}

nav {
    margin-right: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul li {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 15px;
    font-size: 10px;
    text-shadow: 0px 5px 7px #4cbdda;
    transition: color 0.3 ease;
    font-family: 'Quantico', sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}

main section {
    background-color: black;
}




.first h2 {
    padding: 0 1rem;
    font-size:40px;
    font-family: 'Quantico', sans-serif;
    color: #fff;
}

.first p {
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Quantico', sans-serif;
    color: #fff;
    padding-bottom: 50px;
}



.grup2 {
    display: flex;
    margin: 20px;
}

.grup2 .box {
    display: flex;
    flex-wrap: wrap;
    width: 600px; 
    gap:25px;
    margin-left: 50px;
    padding-bottom: 50px;
}

.titlepage .art_ban {
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Quantico', sans-serif;
}

.titlepage {
    font-size: 20px;
    width: 400px;
    line-height: 35px;
    font-weight: 400px;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    color: #fff;
}

.titlepage a {
    width: 25%;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: white;
    letter-spacing: 3px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    transition: 0.2s;
}

.titlepage a:hover {
    background: coral;
    box-shadow: 0 0 10px coral, 0 0 40px coral, 0 0 80px coral;
}

.margi_bot {
    margin-bottom: 20px;
}

.photoA {
    position: relative;
}

.photoA figure {
    margin: 0;
}

.photoA figure img {
    width: 200px;
    height: 250px;
}



/* aside {
    float: right;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 30%;
    height: 100px;
    background-color: darkgray;
}

.aside .h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 50px;
    font-weight: 100;
} */

/* @media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
} */





.evenTi .eve {
    font-size: 30px;
    margin-bottom: -10px;
    color: #fff;
    text-align: center;
    font-family: 'Quantico', sans-serif;
}

.evenTi p {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 35px;
    font-weight: 400px;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    color: #fff;
    border-bottom: #ddd solid 1px;
}

.contEv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
}

.contEv .cardEvent{
    height: 300px;
    margin: 35px;
    box-shadow: 5px 5px 15px white;
    overflow: hidden;
}

.contEv .cardEvent img{
    width: 300px;
    height: 300px;
    border-radius: 3px;
}

.intro {
    height: 80px;
    width: 263px;
    padding: 6px;
    bottom: -923px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27 ,.5);
    color: #fff;
    transition: .5s;
}

.cardEvent h4 {
    margin: 10px;
    font-size: 25px;
    font-family: 'Quantico', sans-serif;
}

.cardEvent p {
    font-size: 18px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    font-family: 'Quantico', sans-serif;
}

.cardEvent:hover {
    cursor: pointer;
}

.cardEvent:hover .intro {
    height: 200px;
    bottom: -980px;background: rgb(5, 3, 3);
}

.cardEvent:hover p {
    opacity: 1;
    visibility: visible;
}



.footer {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("../img/Background.jpg");
    background-size: cover;
    background-position: center;
}

.footer .uss {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 500px;
    font-family: 'Quantico', sans-serif;
    margin-top: 40px;
}

.footer .showi {
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500px;
}

.border_top {
    border-top: #ddd solid 1px;
} 

ul.loca {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul.loca li {
    color: #fcfbfb;
    padding: 0px 30px;
    font-size: 18px;
    font-family: 'Quantico', sans-serif;
    list-style: none;
}

ul.loca li a {
    padding-right: 16px;
    color: #fcfbfb;
    margin-top: 4px;
}

ul.social li {
    list-style: none;
    display: inline-block;
    justify-content: center;
}

ul.social li a  {
    font-size: 24px;
    color: #161616;
    background: #4cbdda;
    border-radius: 80px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 41px;
    justify-content: center;
    text-decoration: none;
}

ul.social li a:hover {
    color: #fff;
}

.copyright {
    padding: 23px 0px;
    margin-top: 20px;
    border-top: #ddd solid 1px;
}

.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}