@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Quantico&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("/img/Background.jpg");
    background-size: cover;
    background-position: center;
}

.logo img {
    height: 80%;
    margin-left: 1rem;
}

nav {
    margin-right: 5rem;
}

.mbars {
    display: none;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header ul li {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 15px;
    font-size: 10px;
    text-shadow: 0px 5px 7px #4cbdda;
    transition: color 0.3 ease;
}

header ul {
    display: flex;
    justify-content: center;
}

header li {
    margin: 0 10px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
}


html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.5;
    background-color: #111;
}

.title {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container a {
    width: 200px;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 5px 5px #111;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #6b6969;
    font-family: 'Quantico', sans-serif;
}

.container a:hover {
    box-shadow: 0 16px 20px #4cbdda;
    transform: translateY(-15px);
}

.container a img {
    width: 200px;
    height: 120px;
    border-bottom: solid 3px;
    border-color: #fff;
}

.container a h4 {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Audiowide', cursive;
    color: #fff;
}

.container a p {
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Quantico', sans-serif;
    color: #fff;
}



@media screen and (max-width: 767px) {
    .logo img {
        height: 60%;
        margin-left: 1rem;
    }
    
    header label i {
        line-height: 80px;
        color: #fff;
        font-size: 35px;
        margin-left: 120px;
        cursor: pointer;
        display: none;
    }

    header .menue {
        height: 0;
        width: 300px;
        position: fixed;
        top: 85px;
        right: 0px;
        background-color: rgb(36, 47, 55);
        text-align: center;
        cursor: pointer;
        transition: all .5s;
        z-index: 1;
    }

    header .menue li {
        display: none;
        margin: 35px 0;
        transition: all .5s;
    }

    #check:checked ~ nav .menue {
        height: 60vh;
    }

    #check:checked ~ nav .menue {
        display: block;
    }

    .mbars {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
    }
}