@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Quantico&display=swap');

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("../img/Background.jpg");
    background-size: cover;
    background-position: center;
}

.logo img {
    height: 100%;
    margin-left: 3rem;
}

nav {
    margin-right: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul li {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 15px;
    font-size: 10px;
    text-shadow: 0px 5px 7px #4cbdda;
    transition: color 0.3 ease;
    font-family: 'Quantico', sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}

main section {
    float: left;
    background-color: black;
}

.first h2 {
    padding: 0 1rem;
    font-size:40px;
    font-family: 'Quantico', sans-serif;
    color: #fff;
}

.first p {
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Quantico', sans-serif;
    color: #fff;
}

aside {
    float: right;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 30%;
    height: 100px;
    background-color: darkgray;
}

.aside .h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 50px;
    font-weight: 100;
}

/* @media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
} */




.footer {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("../img/Background.jpg");
    background-size: cover;
    background-position: center;
}

.footer .uss {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 500px;
    font-family: 'Quantico', sans-serif;
}

.footer .showi {
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500px;
}

.border_top {
    border-top: #ddd solid 1px;
} 

ul.loca {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul.loca li {
    color: #fcfbfb;
    padding: 0px 30px;
    font-size: 18px;
    font-family: 'Quantico', sans-serif;
    list-style: none;
}

ul.loca li a {
    padding-right: 16px;
    color: #fcfbfb;
    margin-top: 4px;
}

ul.social li {
    list-style: none;
    display: inline-block;
    justify-content: center;
}

ul.social li a  {
    font-size: 24px;
    color: #161616;
    background: #4cbdda;
    border-radius: 80px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 41px;
    justify-content: center;
    text-decoration: none;
}

ul.social li a:hover {
    color: #fff;
}

.copyright {
    padding: 23px 0px;
    margin-top: 20px;
    border-top: #ddd solid 1px;
}

.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}